<h3>View Student Details</h3>
<div>
    <div>
        <label><b>First Name:</b></label>{{student.firstname}}
    </div>
    <div>
        <label><b>Last Name:</b></label>{{student.lastname}}
    </div>
    <div>
        <label><b>Email Id:</b></label>{{student.email}}
    </div>
    <div>
        <label><b>College:</b></label>{{student.college}}
    </div>
    <div>
        <label><b>Mobile Number:</b></label>{{student.mobilenumber}}
    </div>
    <div>
        <label><b>Course Name:</b></label>{{student.coursename}}
    </div>
    <div>
        <label><b>Course Fee:</b></label>{{student.courseFee}}
    </div>
   
    <button class = "btn btn-success info"  routerLink="/students" >Back</button>
</div>
